*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input-card {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    width: 200px;
    height: 100px;
    background: gray;
    display: none;
    text-align: center;
    padding-top: 20px;
}